// borders

.border-b {
	border-bottom:solid 1px $pumice;
}

.border-t {
	border-top:solid 1px $pumice;
}

.border-r {
	border-right: solid 1px $pumice;
}

.border-l {
	border-left: solid 1px $pumice;
}