//
// Colors
// --------------------------------------------------

//Primary & Accent Colors
$sapphire:				#152535; //main color
$topaz:					#209CE1; //primary colors, buttons, links
$cobalt:				#3078C0; //info
$emerald:				#52BD8A; //success
$jade:					#2FBFBF;
$opal:					#9566BB;
$ruby:					#E5585E; //alert
$amber:					#EBAC36; //warning

//Text & Background Colors
$charcoal:				#333333; //header text
$slate:					#383838; //accent icons (close, etc)
$granite:				#6f7c82; //subheader text
$flint:					#8A92A2; //paragraph text
$gravel:				#A8B8C8; //call outs, placeholders, input highlights
$pumice:				#DDE3E9; //borders & horizontal rules
$limestone:				#F5F7F9; //application background
$diamond:				#FFFFFF; //light background
