//
// Typography
// --------------------------------------------------

$font-main: 			'Lato', sans-serif;  
$font-round: 			'Varela Round', sans-serif;


$color-header: 			$charcoal;		
$color-subheader:		$granite;
$color-paragraph:		$flint;
$color-callout:			$gravel;