
<div class="view company-detail">


	<div class="company-detail-card">
		
	<div class="detail-card-header">



	<div style="z-index:50;" class="btn-group more" uib-dropdown is-open="status.isopen">
		      <button id="single-button" type="button" class="more btn btn-clear" uib-dropdown-toggle ng-disabled="disabled" >
		        ...
		      </button>
		      <ul class="uib-dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="single-button">
		        <li role="menuitem"><a href="#"><span class="fa fa-user"></span> Export Contact</a></li>
		        <li role="menuitem"><a href="#"><span class="icon_printer-alt"></span> Print Contact Detail</a></li>
		        <li class="divider"></li>
		        <li role="menuitem" ng-click="deleteTask()"><a href=""><span class="icon_trash"></span> Delete Contact</a></li>
		      </ul>
		    </div>

<div class="social">

				<select class="status form-control">
				  <option>Potential</option>
				  <option>Association</option>
				  <option>Partner</option>
				  <option>Bad Fit</option>
				  <option>Customers</option>
				</select>
</div>

	<div class="contact-card">
		<span class="avatar-circle">
			<img gravatar-src="{{thisContact.email}}" gravatar-default="mm" gravatar-size="100">
		</span>
		<div class="contact-info">
			<h3>{{currentEntity.currentItem.fullName}}</h3>
			<p>{{currentEntity.currentItem.title}}</p>	
			<p ng-if="thisContact.company"><icon class="fa fa-building"></icon><a href="">{{currentEntity.currentItem.company.name}}</a></p>
				<icon class="linkedin fa fa-linkedin-square"></icon>
				<icon class="twitter fa fa-twitter-square"></icon>
				<icon class="facebook fa fa-facebook-square"></icon>
				<icon class="google fa fa-google-plus-square"></icon>
				<icon class="new fa fa-plus-square"></icon>
		</div>
	</div>


<!-- 	<div class="company-card">
			<span class="card-icon icon_building"></span>
			<h3>ABC Company, Inc</h3>
			<p>Sells letters at a discount</p>
			<p><icon class="fa fa-globe"></icon> <a href="">mywebsite.com</a></p>

	</div> -->
	<br>
		

	</div>
	<div class="deatil-card-body">
		<div class="row">
			<div class="col-xs-4 border-r padding-sm">

			<!-- //contacts -->
				<!-- <div class="section">
					<p class="title">Contacts (10)</p>

					<div class="contact-circle">
						JB
					</div>
					<div class="contact-circle">
						JB
					</div>
					<div class="contact-circle">
						JB
					</div>
					<div class="contact-circle">
						JB
					</div>
					<div class="contact-circle">
						JB
					</div>

					<div class="contact-navigator">
					<icon class="nav arrow_carrot-right"></icon>
						<icon class="nav arrow_carrot-left"></icon>
						
					</div>

				</div> -->

					<!-- Qualifiers -->
				
			<div class="section">
				<p class="title">Profile</p>
				<!-- <div class="row">
					<div class="no-pad col-xs-6 qual-select">
					<label for="">Up/Down:</label>
				<select class="form-control">
				
				  <option>Member of 2K</option>
				  <option>Member of 30K</option>
				</select>
			</div>
				<div class="no-pad col-xs-6 qual-select">
				<label for="">Policy:</label>
				<select class="form-control">
				
				  <option>Presidential</option>
				  <option>Senate</option>
				  <option>House</option>
				  <option>Gubentorial</option>
				  <option>State Legislative</option>
				  <option>County</option>
				  <option>Municiple</option>
				</select>
				</div>
				<div class="no-pad col-xs-6 qual-select">
				<label for="">Funding Segment:</label>
				<select class="form-control">
				  <option>Official</option>
				  <option>IE (Independent Expendature)</option>
				  <option>PAC/Super PAC</option>
				  <option>Trade Assoc</option>
				  <option>Parties</option>
				</select>
			</div>
				<div class="no-pad col-xs-6 qual-select">
				<label for="">Alignment:</label>
				<select class="form-control">
				  <option>Republican</option>
				  <option>Democrat</option>
				  <option>Independent</option>
				  <option>Libretarian</option>
				  <option>Other</option>
				</select>
			</div>
				</div> -->
			</div>

				<!-- Tasks -->
			<div class="section">
				<p class="title">Tasks</p>


				<p class="text-center"><i>Currently No Tasks</i></p>

<!-- 
				 <div class="checkbox">
				    <label>
				      <input type="checkbox"> Check me out
				    </label>
				  </div>

				   <div class="checkbox">
				    <label>
				      <input type="checkbox"> Check me out
				    </label>
				  </div>

				   <div class="checkbox">
				    <label>
				      <input type="checkbox"> Check me out
				    </label>
				  </div> -->
			  </div>

			<div class="section">
				<p class="title">Opportunities</p>


				<p class="text-center"><i>Currently No Opportunities</i></p>

				<!-- <div class="pipeline-card">

							<div class="item-body">
								<div class="avatar">JB</div>
								<p style="padding-left:30px; margin:3px 0; font-size:1em;"><a href="#">Opportunity Name</a></p>
								<p style="margin:3px 0; font-size:.9em;">Company Name</p>
								<p style="margin: 3px 0;">$30,000<span style="padding-right:5px;" class="pull-right"><icon class="fa fa-clock-o"></icon> <i>March 3, 2017</i></span></p>
							</div>
							<div class="item-footer">
								<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuenow="70"
								  aria-valuemin="0" aria-valuemax="100" style="width:70%">
								  </div>
								</div>
							</div>		
				</div>

				<div class="pipeline-card">

							<div class="item-body">
								<div class="avatar">JB</div>
								<p style="padding-left:30px; margin:3px 0; font-size:1em;"><a href="#">Opportunity Name</a></p>
								<p style="margin:3px 0; font-size:.9em;">Company Name</p>
								<p style="margin: 3px 0;">$30,000<span style="padding-right:5px;" class="pull-right"><icon class="fa fa-clock-o"></icon> <i>March 3, 2017</i></span></p>
							</div>
							<div class="item-footer">
								<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuenow="70"
								  aria-valuemin="0" aria-valuemax="100" style="width:50%">
								  </div>
								</div>
							</div>		
				</div> -->

				
			</div>

		

			</div>


			<div class="col-xs-8">
			<div class="row">
<!-- 				<div class="col-xs-2 text-center">
					History
				</div>
				<div class="col-xs-2 text-center">
					Details
				</div>
				<div class="col-xs-2 text-center">
					Documents
				</div> -->


				  <tabset class="detail-tabs" justified="true">
				    <tab heading="History">
				    	<div class="detail-tabs-content">
				    		
				    		<!-- history feed -->
							<ng-include src="'modules/contacts/contact-timeline.html'"></ng-include>
							<!-- /history feed -->
				    	</div>


				    </tab>
				    <tab heading="Details">
				    	<div class="detail-tabs-content">
				    		<div class="row">
				    			<div class="col-xs-12">
				    				<form class="form-horizontal" role="form">
									  <div class="form-group">
									    <label class="control-label col-sm-2" for="email">First Name:</label>
									    <div class="col-sm-10">
									      <input type="email" class="form-control" id="email" placeholder="">
									    </div>
									  </div>
									  <div class="form-group">
									    <label class="control-label col-sm-2" for="pwd">Last Name:</label>
									    <div class="col-sm-10"> 
									      <input type="text" class="form-control" id="pwd" placeholder="">
									    </div>
									  </div>
									  <div class="form-group">
									    <label class="control-label col-sm-2" for="pwd">Email:</label>
									    <div class="col-sm-10"> 
									      <input type="text" class="form-control" id="pwd" placeholder="">
									    </div>
									  </div>
									  <div class="form-group">
									    <label class="control-label col-sm-2" for="pwd">Phone:</label>
									    <div class="col-sm-10"> 
									      <input type="text" class="form-control" id="pwd" placeholder="">
									    </div>
									  </div>
									  <div class="form-group">
									    <label class="control-label col-sm-2" for="pwd">Job Title</label>
									    <div class="col-sm-10"> 
									      <input type="text" class="form-control" id="pwd" placeholder="">
									    </div>
									  </div>
									  <div class="form-group">
									    <label class="control-label col-sm-2" for="pwd">Department:</label>
									    <div class="col-sm-10"> 
									      <input type="text" class="form-control" id="pwd" placeholder="">
									    </div>
									  </div>
									  <div class="form-group">
									    <label class="control-label col-sm-2" for="pwd">Birthday</label>
									    <div class="col-sm-10"> 
									      <input type="text" class="form-control" id="pwd" placeholder="">
									    </div>
									  </div>
									  <div class="form-group">
									    <label class="control-label col-sm-2" for="pwd">Description:</label>
									    <div class="col-sm-10"> 
									      <input type="text" class="form-control" id="pwd" placeholder="">
									    </div>
									  </div>
									 
									</form>
				    			</div>
				    		</div>
				    	</div>
				    </tab>
				    <tab heading="Documents">
				    	<div class="detail-tabs-content">
				    		<!-- documents feed -->
							<ng-include src="'modules/companies/documents.html'"></ng-include>
							<!-- /documents feed -->
				    	</div>
				    </tab>

				    <tab heading="Metrics">
				    	<div class="detail-tabs-content">
				    		
				    	</div>
				    </tab>
				  </tabset>
			</div>
				

			</div>		
		</div>
	</div>


	</div>
</div>
